/* ------------------- to top button --------------------- */
#to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 40px;
    z-index: 99;
    font-size: 2rem;
    border: none;
    outline: none;
    background:  linear-gradient(180deg,rgba(0, 0, 255, 0.801),rgba(240, 5, 44, 0.808));;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #to-top:hover {
    background-color: #555;
  }



.animate{
     position: relative;
    animation-name: animate;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
    transition: all 1s ease-in;
}
@keyframes  animate {
    from{
       transform: scale(1);
       transition: all 1s ease-in;
    }
    to {
        transform: scale(1.05);
        transition: all 2s ease-in;
    }
       
    
}
.aminate-2{
        position: relative;
    animation-name: animate-2;
    animation-duration: 5s;
   
    animation-iteration-count: infinite;
    transition: all 1s ease-in;
  }
@keyframes animate-2 {
    0%{
        color: #555;
    }
    50%{
        color: black;
    }
    75%{
        color: red; 
    }
    100%{
        color: blueviolet;
    }
}

.main_pencentage{
    position: relative;
    animation-name: pencentage-skill;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition: all 1s ease-in;
}
@keyframes pencentage-skill {
    from{
        background: red;
        width: 10%;
    }
    to{
        background-color: green;
        width: 90%;
    }
   
}

.main_pencentage-css{
    position: relative;
    animation-name: pencentage-skill-css;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition: all 1s ease-in;
}
@keyframes pencentage-skill-css {
from{
    background: red;
    width: 10%;
}
to{
    width: 85%;
    background-color: blue;
}
}


.main_pencentage-js{
    position: relative;
    animation-name: pencentage-skill-js;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition: all 1s ease-in;
}
@keyframes pencentage-skill-js {
from{
    background: red;
    width: 10%;
}
to{
    width: 65%;
    background-color: orange;
}
}

.main_pencentage-php{
    position: relative;
    animation-name: pencentage-skill-php;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition: all 1s ease-in;
}
@keyframes pencentage-skill-php {
from{
    background: red;
    width: 10%;
}
to{
    width: 60%;
    background-color: orangered;
}
}

.main_pencentage-corel{
    position: relative;
    animation-name: pencentage-skill-corel;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition: all 1s ease-in;
}
@keyframes pencentage-skill-corel {
from{
    background: red;
    width: 10%;
}
to{
    width: 75%;
    background-color: navy;
}
}

.main_pencentage-photo{
    position: relative;
    animation-name: pencentage-skill-photo;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition: all 1s ease-in;
}
@keyframes pencentage-skill-photo {
from{
    background: red;
    width: 10%;
}
to{
    width: 55%;
    background-color: yellow;

}
}





































.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease-in ;
}
.reveal, .active{
    transform: translateY(0px);
    opacity: 1;
   }

.animate__animated.animate__fadeInLeft{
    animation-iteration-count: 2;
    --animate-duration: 3s;
}
.animate__animated.animate__fadeInUp {
    --animate-duration: 2.5s;
    animation-iteration-count: infinite;
  }


  @media screen and (max-width:992px) {
    #to-top {
       padding: 0;
        background:  linear-gradient(180deg,rgba(0, 0, 255, 0.801),rgba(240, 5, 44, 0.808));;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
  }